otree>=2.1.7

https://www.dropbox.com/s/cjwxltkxd2o796o/1_1.png?dl=0
https://www.dropbox.com/s/d6qtzbfxqpfc9cs/1_2.png?dl=0
https://www.dropbox.com/s/inm1f3sz591gklu/1_3.png?dl=0
https://www.dropbox.com/s/aq5n38oge14uy8i/1_4.png?dl=0
https://www.dropbox.com/s/s9vep49uq4ybleg/1_5.png?dl=0