{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Bid for Work
{% endblock %}

{% block content %}

<p>Tell us your per-page bid to do up to 5 pages just like the example (95% accuracy).</p>

<p>Managers will have a fixed budget. Please keep in mind the <strong>Manager will start with this information to negotiate a price for your services.</strong> Note, we will audit some transcripts at random, and in those cases will only pay where accuracy is over 95%. </p>

    {% formfield player.bid with label="How much is your bid per page, for up to 5 pages?" %}

    {% next_button %}

{% endblock %}
