{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Bid for Work
{% endblock %}

{% block content %}

<p>Now tell us your <strong>single page</strong> bid (the price for ONE page) to do up to 5 pages just like the example (with 95% accuracy).</p>

<p>If you are the employee, the manager will start with this information to negotiate a price for your services.</p>

    {% formfield player.bid label="How much is your bid price per single page?" %}

    {% next_button %}

{% endblock %}
