{% extends "global/Page.html" %}
{% load otree staticfiles %}
{% block title %}Consent to Participate{% endblock %}

{% block content %}



<p>Hello! </p>
 
<p>We invite you to participate in a research study on wage negotiations.</p>
   
<p>The purpose is academic research about how the information in wage negotiations can affect the outcome.</p>

<p>You will be asked to chat with others to negotiate the division of an amount between $3 and $5. The negotiation typically takes between 1-10 minutes. Afterwards we ask 6 questions.  All subjects who complete the study will be paid.</p> 
 
<p>The average participant earns a rate of $10/hour. Your own pay will likely be different. Your payment is based on your actions. All subjects who complete the study will be paid.</p>

<div class="card card-body bg-light">
<p>If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. Your individual privacy will be maintained in all published and written data resulting from the study. Efforts will be made to limit the use and disclosure of your Personal Information, to people who have a need to review this information. We cannot promise complete secrecy. Organizations that may inspect and copy your information include the IRB and other representatives of this organization. If identifiers are removed from your identifiable private information, that information could be used for future research studies or distributed to another investigator for future research studies without your additional informed consent.</p>

<p>If you have questions, concerns, or complaints, or think the research has hurt you, talk to Zoe Cullen, zcullen@hbs.edu. Her phone number is 203-314-5429.  </p>
<p>This research has been reviewed and approved by the Harvard University Area Institutional Review Board (“IRB”). You may talk to them at (617) 496-2847 or cuhs@harvard.edu if:</p> 
<ul>
<li>Your questions, concerns, or complaints are not being answered by the research team.</li>
<li>You cannot reach the research team.</li>
<li>You want to talk to someone besides the research team.</li>
<li>You have questions about your rights as a research subject.</li>
<li>You want to get information or provide input about this research.</li>
</ul>
</div>
<p>{% formfield player.consent label="By continuing with this study, I certify that I have read and understood this information, and consent to participating." %}
</p>
    
{% next_button %}
{% endblock %}
