{% extends "global/Page.html" %}
{% load otree staticfiles %}
{% block title %}Introduction{% endblock %}

{% block content %}

<p>There are 4 people assigned to this group at the same time. You will negotiate to either manage or carry out a task.  Those who successfully complete this earn between $3 and $5</p> 

<p>First we'll ask you some questions. Then you will interact with other participants. Please do this promplty, as other participants are waiting for you. Read questions carefully - you will not be able to use the back button.</p>
    
{% next_button %}
{% endblock %}
