{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}
{% block title %}Introduction{% endblock %}

{% block content %}

<div class="instructions well well-lg">

<p>There are 4 MTurkers simultaneously assigned to this group. You and three others who will manage and carry out a transcription task. Each worker can transcribe up to 5 pages of a scanned text image. We have a fixed budget per completed page</p>

<p>First we'll ask you a few questions. Then you will interact with other participants. Please do this part right away, as it depends on the other people assigned to your group being present. The transcription part, for the bonus, can be done any time in the next 48 hours.</p>
    
</div>
{% next_button %}
{% endblock %}