{% extends "global/Page.html" %}
{% load otree staticfiles %}
{% block title %}Introduction{% endblock %}

{% block content %}

<p>There are 4 people simultaneously assigned to this group. You will negotiate to either manage or carry out a task.  Those who successfully complete this task earn between $3 and $5</p> 

<p>First we'll ask you some questions. Then you will interact with other participants. Please do this first part promptly so other participants do not have to wait for you. But read questions carefully because you will not be able to return to your answers after proceeding to the next page.</p>
    
{% next_button %}
{% endblock %}
