{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Cash Preferences
{% endblock %}

{% block content %}

<p>Below you are presented with 5 scenarios. In each you will be given the choice between being paid for completing a page of transcription at 95% accuracy within 48 hours, or receiving $9 without having to do any transcription, also 48 hours from now.</p>
<p>If you are one of 20 survey respondents selected at random, we will randomly select one of your choices and enact it. You should answer honestly, because one of your choices might happen. (Note, information on this page will be kept private from all participants.)</p>
<br>
 
    {% formfield player.pref1 with label="Which would you prefer?" %}
    {% formfield player.pref2 with label="Which would you prefer?" %}
    {% formfield player.pref3 with label="Which would you prefer?" %}
    {% formfield player.pref4 with label="Which would you prefer?" %}
    {% formfield player.pref5 with label="Which would you prefer?" %}

    {% next_button %}

{% endblock %}
