{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Example of Transcription Work
{% endblock %}

{% block content %}

	<div class="instructions well well-lg">
        <p><strong>Transcription Example</strong></p><u>Text image:</u><br><img src="{% static "trx_survey/exampleline.png" %}"/><br><br>
        <u>Transcription:</u>
        <pre>1096,9,581,136,8,7<br>5,,3,,,<br>35,3,6,8,1,<br>727,1,428,95,6,7</br></pre>
    </div>

	<p>Now look at the sample page below. How many minutes do you think would it take you to transcribe the page below? This information will not affect your eligibility for a bonus in any way.</p>

    {% formfield player.howLong label="How many minutes?" %}

    {% next_button %}
    <p><strong>Sample Page:</strong></p>
	<img src="{% static "trx_survey/sample.png" %}"/>
	<br>


{% endblock %}
