{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Please read this before clicking "Accept"{% endblock %}

{% block content %}
    <p>
        This HIT is an academic experiment on decision making. The instructions are 100% truthful. 
    </p>

    <p>
    It will require you to interact with other workers in realtime.
    Some other workers may be waiting until you have completed a given task, before they can proceed.
    So, please be mindful of other participants and complete all tasks in a timely fashion.
        Please only accept ths HIT only if you can commit to completing it.
    </p>

    <p>
    After completing this HIT, you will receive your reward plus a bonus payment
    that is based on how you play the experiment.
    </p>
    <p>
    We do not guarantee you will receive any benefits from this study beyond the payment you receive for participating.
    </p>
    <p>
    <strong>If you have read this form and decide to participate in this project, please understand your participation is voluntary and you have the right to discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. Your individual privacy will be maintained in all published and written data resulting from the study.</strong>
</p>
{% endblock %}
