{% extends "otree/MTurkPreview.html" %}
{% load otree %}

{% block title %}Survey plus longer data-entry work opportunity{% endblock %}

{% block content %}

<p>Please DO NOT QUEUE THIS HIT as coordination with other MTurkers is important.</p>
    
<p>We invite you to participate in a <strong>research study</strong> on <strong>wage negotiations</strong>.</p>
   
<p>The purpose is academic research about how the information in wage negotiations can affect the outcome.</p>

<p>You will be asked to <strong>read a page of instructions, complete a 2-5 minute survey. Then you will be asked to chat with other people to negotiate the price of an additional task. The negotiation typically takes between 5-7 additional minutes.</strong> If you agree on a price to complete an additional task (which can last 1-5 hours), the average participant receives approximately <strong>$10 per hour.  Your own pay will likely be different. Your payment is based on the actions you select and may be higher or lower than $10 per hour</strong>. All subjects who complete the study will be paid.</p>

{% endblock %}



