{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Please don't queue this HIT as timing with other MTurkers is important. Please read this before clicking "Accept"{% endblock %}

{% block content %}
<p>We invite you to participate in a <strong>research study</strong> on <strong>wage negotiations</strong>.</p>
   
<p>The purpose is academic research about how the information in wage negotiations can affect the outcome.</p>

<p>You will be asked to <strong>read a page of instructions, complete a 2-5 minute survey. Then you will be asked to chat with another person to negotiate a wage. The negotiation typically takes between 5-7 additional minutes.</strong> All subjects who complete the study will be paid.</p>

{% endblock %}



