{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}

    {% formfield player.experience with label="How much months experience do you have managing others?" %}

    {% formfield player.transExp with label="How much experience do you have doing transcription work?" %}

    {% formfield player.eduLevel with label="What is your highest level of education?" %}

    {% formfield player.dailyHHEarn with label="On an average work day, how much money does your household earn from employment? (Don't count government payments or other sources)" %}

    {% next_button %}

{% endblock %}
